<head>
  <title>Word Counter!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<body>
  <h1>Welcome to the Word Counter!</h1>
  <form action="/result" method="post">
    <label for="new-word">Enter a word:</label>
    <input id="new-word" name="new-word" type="text">
    <label for="new-sentence">Enter a sentence:</label>
    <input id="new-sentence" name="new-sentence" type="text">
    <button type="submit">Find out how many times your word was used!</button>
  </form>
</body>
